<!--<main class="mainbox">
    <div class="mainhead">
        <h1 class="maintxt">Edit Employee</h1>
        <button class="btn" (click)="gotoView()">View Employees</button>
                
    </div>
    <div class="maincontent">
        <form #updateEmp="ngForm" class="editemp">
            <div class="user">
                <img src="userprofile.png"alt="New User" height="100">
            </div>
            <div class="eachemp">
                <label><b>Employee Name</b></label>
                <br>
                <input type="text" class="eachinput" ngModel="{{myemp?.EmpName}}" required name="EmpName">
    
            </div>
            <div class="eachemp">
                <label><b>Employee Position</b></label>
                <br>
                <input type="text" class="eachinput" ngModel="{{myemp?.EmpPos}}" required name="EmpPos">
        
            </div>
            <div class="eachemp">
                <label><b>Employee Department</b></label>
                <br>
                <input type="text" class="eachinput" ngModel="{{myemp?.EmpDep}}" required name="EmpDep">
        
            </div>
            <div class="eachemp">
                <label><b>Rating</b></label>
                <br>
                <input type="number" class="eachinput" ngModel="{{myemp?.EmpRate}}" required name="EmpRate">
        
            </div>
            <p class="empMsg">{{empMessage}}</p>
            <div class="formsbtns">
                <button class="empbtn">Save</button>
                <button class="empbtn" (click)="onCancel()">Clear</button>
    
    
            </div>
        </form>
        <img src="editemptoweb.png" alt="" height="300">
            
    
    </div>
    
    
</main>-->
